{% extends "base.html" %}

{% block content %}

<img src='{{ photo.image_thumbnail.url }}'/>
<form action="{% url 'photo_comment' photo_pk=photo_pk %}" method="POST">
{% for comment in comments %}
    <p>{{ comment.author }}</p>
    <p>{{ comment.text }}</p>
{% endfor %}
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Comment</button>
</form>
<form action='{% url 'delete_photo' photo.pk %}' method="POST">
    {% csrf_token %}
    <button type='submit'>delete_photo</button>
</form>


{% endblock %}