{% extends "base.html" %}

{% block content %}
<div class="content">
    <img src='{{ photo.image_thumbnail.url }}'/>
    <form action="{% url 'photo_comment' photo_pk=photo_pk %}" method="POST">
    {% for comment in comments %}
        <p>{{ comment.text }}</p>
    {% endfor %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class='button'>Add comment</button>
    </form>
    <form action='{% url 'delete_photo' photo.pk %}' method="POST">
        {% csrf_token %}
        <button type='submit' class='button'>Delete photo</button>
    </form>
</div>



{% endblock %}