{% extends "base.html" %}

{% block content %}
<div class="content">
    <div>
        <h1>{{ gallery.title }}</h1>
        </div>
        <div class="button-container">
            <a class="button" href="{% url 'upload_photo' gallery_pk=gallery.pk %}">Add image</a>
            <a class="button" href="{% url 'edit_gallery' gallery_pk=gallery.pk %}">Edit gallery</a>
            </div>
        <div class="gallery-img-container">
            {% for photo in gallery.photos.all %}
            <a href="{% url 'view_photo' photo_pk=photo.pk %}"><img src='{{ photo.image_thumbnail.url }}'/></a>
            {% endfor %}
        </div>
</div>
<footer>PicMash ©2020 (powered by Django)</footer>
{% endblock %}
