{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/style.css/' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>{% block title %}Picmash{% endblock %}</title>
    {% block meta %} 
    {% endblock %}
  </head>
  <body>
  {% block navbar %}
    <div class="header">
      <a href="{% url 'homepage' %}"><p>PicMash</p></a>
      <nav class="nav-items">
        <h3>Welcome back,&nbsp;&nbsp;{{ user.username }}!</h3>
        <a href = "{% url 'add_gallery' %}"><i class="fas fa-th-large"></i>&nbsp;create gallery</a>
        <a href = "{% url 'auth_logout' %}"><i class="fas fa-sign-out-alt"></i>&nbsp;logout</a>
      </nav>
    </div>
  {% endblock %}
    {% block content %} {% endblock %}
  </body>
</html>
