{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated is False %}
<p>
    <a href="{% url 'auth_login' %}">login</a>
</p>
or
<p>
    <a href="{% url 'registration_register' %}">sign up</a>
</p>
</div>
{% else %}
<div class="content">
    <h1>{{ user.username }}'s Galleries</h1>
        {% if galleries is not None %}
        <div class="gallery-title-list">
            {% for gallery in galleries %}
            <a href="{% url 'view_gallery' gallery_pk=gallery.pk %}">{{ gallery.title }}</a>  
        {% empty %}
        <p>You don't have any galleries</p>
        {% endfor %}
        {% endif %}
    </div>
</div>

<footer>PicMash ©2020 (powered by Django)</footer>
{% endif %}
{% endblock %}